@media (max-width: 582px) {
	#portfolio {
		.list-categorias { display: block !important;}
	}
}

@media (max-width: 780px) {
	p {
		padding-right: 0 !important;
	}
	
	#single {
		.pull-left {
			float: none !important;
			img {
				width: 100%;
				margin-bottom: 30px;
			}
		}
	}
}
@media (max-width: 880px){
		.absolute {
			display: none;
		}
}
@media (max-width: 990px) {
	section {
		.sidebar {
			display: none !important;
		}
	}
	#contact {
			form {margin-top: 30px;}
	}
	#blog {
		.row {
			h2 {
				margin-top: 50px !important;
			}
		}
	}
	#index {
		.boton-coral {margin-bottom: 50px;}
		.media {
			h4 {
				font-size: 20px !important;
				margin-top: 7px !important;
			}
		}
	}
}
@media (max-width: 1199px) {
	#index{
		.media {
			h4 {height: 80px;}
		}
	}
}
