.sidebar {
	.line {
			margin-top: 0px;
			h3 {
				margin-bottom: 0;
			}
	}
	p, ul{
		margin: 10px 0 30px;
		@include titulos(15px, normal, 10px, sans-serif, $text);
	}
	ul {
		list-style: none;
		padding: 0;
		color: #000;
	}
	.content {
		margin-top: 20px;
		.box-small {
			width: 57px;
			height: 57px;
			display: inline-block;
			@include boton($palo-rosa, 0, $palo-rosa, 1px, 1px solid $coral);
		}
	}
	
}